body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}

.todo-form {
  margin-bottom: 20px;
}

.todo-form input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.todo-form button {
  padding: 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-item input {
  margin-right: 8px;
}

.todo-item button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.todo-item span {
  flex-grow: 1;
  word-break: break-all;
  color: #333;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #888;
}


.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  margin-right: 10px;
}


.button{
  margin: 10px;
}

.button {
  font-weight: bold;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 10%  ;
}

.con{
  height: max-content;
}